{% extends "base.html" %}
{% load pagination_tags %}


{% load i18n %}

{% block title %}{% trans "Meetings" %}{% endblock %}

{% block content %}
<h2>{% trans "Meetings" %}</h2>
{% if meetings %}
    <ul class="large">
    {% autopaginate meetings 10 %}
    {% for meeting in meetings %}
        <li>
            <span class="right">
            {% if meeting.started %}
                {% if meeting.running == 'true' %}
                    <span class="status running">{% trans "Running" %}</span>
                    {% if perms.bbb.end_meeting %}
		    <form method="GET" action="{% url join meeting.meeting_id%}"><input type="submit" value="{% trans "Join" %}"/></form> <form method="POST" action="{% url delete meeting.meeting_id meeting.info.moderator_pw %}">{% csrf_token %}<input type="submit" value="{% trans "End" %}"/></form>
                    {% endif %}
		{% else %}
		    <span class="status notrunning">{% trans "Ended" %}</span>
                    {% if meeting.playback_url %}
                    <input type="submit" value="{% trans "Playback" %}" onclick="javascritp:window.open('{{ meeting.playback_url }}')"/>
                    {% endif %}
		{% endif %}
	    {% else %}
	       <span class="status notrunning">{% trans "Not started" %}</span>
               <form method="GET" action="{% url export meeting.meeting_id%}"><input type="submit" value="{% trans "Calendar export" %}"/></form>
	       <form method="GET" action="{% url join meeting.meeting_id%}"><input type="submit" value="{% trans "Start" %}"/></form>
	    {% endif %}
            </span>
            {{ meeting.name }} <a class="more-info">{% trans "view details" %}</a>
            <table>
                {% for item in meeting.info.items %}
                <tr>
                <th>
                {% comment %}
                {% blocktrans with item.0 as item_name %} 
                {{ item_name }}
                {% endblocktrans %}
                {% endcomment %}
                {% trans item.0 %}
                </th>
                <td>{{ item.1 }}{% comment %}{% trans item.0 %}{% endcomment %}</td>
                </tr>
                {% endfor %}
            </table>
        </li>
    {% endfor %}
    <br/>
    {% paginate %}
    </ul>
{% else %}
    <p>{% trans "There are no meetings at the moment." %}</p>
{% endif %}
{% endblock %}

